NAME:= $(shell basename `pwd` )
SRC = $(NAME).cc 
OBJ= $(SRC:.cc=.o)
TARGET = ../$(NAME).so

LIBDIR=../lib
INCLUDE_LIBFIN=../include
INTERFACEDIR= ../interface
CFLAGS = --std=c++11  -Wall -fexceptions -fPIC -O2 

INCLUDE =  -I $(INTERFACEDIR) -I $(INCLUDE_LIBFIN) 

all:  service 

clean:	
	rm -f $(TARGET)
	rm -f *.o

service: $(TARGET)

%.o: %.cc $(INTERFACEDIR)/service.h $(INCLUDE_LIBFIN)/libfinance.h
	@echo "-------Compilation: $<----------------"
	g++ -o $@ -c $< $(CFLAGS) $(INCLUDE)

$(TARGET): $(INTERFACEDIR)/service.h $(INCLUDE_LIBFIN)/libfinance.h $(LIBDIR)/libfinance.a $(OBJ)
	@echo "-------Generation: $<----------------"
	g++ $(CFLAGS)  -rdynamic -shared  $(OBJ) -o $(TARGET) $(INCLUDE) -Wl,--whole-archive $(LIBDIR)/libfinance.a -Wl,--no-whole-archive 
